* {
    margin: 0;
    padding: 0;
}
body{
    background-image:url("./Első honlap/képek/esti.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}