.title {
  animation: transitionIn 0.7s forwards;
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  font-family: cursive;
}

.flex-container {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 50px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.video-scaling {
  animation: transitionIn 1s forwards;
  width: 400px;
  height: 225px;
}

.videodiv-scaling {
  animation: transitionIn 2s forwards;
  box-sizing: border-box;
  margin-bottom: 5%;
  padding-bottom: 5%;
  margin-top: 2%;
}

.infobox {
  animation: transitionIn 2.5s forwards;
  position: absolute;
  width: 400px;
  height: 130px;
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  color: white;
  padding: 20px;
  border-radius: 0px 0px 15px 15px;
}

.infobox:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  pointer-events: none;
}

.infobox:hover:before {
  left: 100%;
  transform: skewX(-5deg);
}

.infobox .info {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid #f0a591;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);
}

.infobox span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 315%;
  display: block;
  box-sizing: border-box;
}

.infobox span:nth-child(1) {
  transform: rotate(0deg);
}

.infobox span:nth-child(2) {
  transform: rotate(90deg);
}

.infobox span:nth-child(3) {
  transform: rotate(180deg);
}

.infobox span:nth-child(4) {
  transform: rotate(270deg);
}

.infobox span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #50dfdb;
  animation: animate 4s linear infinite;
}

.custom-label {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom */
    right: 10px; /* Adjust the distance from the right */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    transform: scaleX(1);
    transform-origin: left;
  }

  50.1% {
    transform: scaleX(1);
    transform-origin: right;

  }

  100% {
    transform: scaleX(0);
    transform-origin: right;

  }
}

@keyframes transitionIn {
  from {
    margin-top: 100px;
    opacity: 0;
    transform: translateY(-10px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}
